<!DOCTYPE html>
<html>
<head>
<title>{% block essaytitle %} {% endblock %} | Amith M. Reddy</title>
<link rel="stylesheet" type="text/css" href="/templates/compass/stylesheets/test.css">
{% block head %}
{% endblock %} 
</head>
<body id={%block bodyid%}{%endblock%}>
	<div class="mastwrap">
	   <div class="wrap">
	   <div class="masthead">
	   <header role="banner">
	   <a href="/" title="Amith M Reddy" rel="home">
	   Amith M Reddy
	   </a>
		<ul>
		<li><a href="/" id=homediv>Home</a></li>
		<li><a href="/essays" id="essaysnav">Essays</a></li>
		<li><a href="/portfolio" id="portfolio">Porfolio</a></li>
		<li><a href="/"id="about">About Me</a></li>
		</ul>
	   </header>
	   </div>
	   </div>
	   {% block above_content %} {%endblock%}
	   <div id="content">
		{% block content %}
		{% endblock %}
		</div>
	</div>
</body>

</html>
